<div class="bs-component text-center">


  <br>
  <br>
  <br>
  <img alt="" src="./assets/logo/blib-blue-160px.png">
  <br>
  <br>
  <h1 class="heading text-muted">about cloudogu</h1>

</div>
<br>
<br>
<br>



<div class="bs-docs-section container">
  <div class="row">
    <div class="col-md-6">
      <div class="bs-component text-center">
        <h4>
          <p>Story and Mission</p>
          ______________________</h4>
        <br>
        <br>
        <br>
        <article style="font-size: 1.6rem">
          <p>Cloudogu is not just another software development stack - it is an open platform, which lets you choose how and
            where your team creates great software. Each service or tool is delivered as a Dōgu, a Docker container, that
            can be easily integrated in your environment just by pulling it from our registry. We have a growing number of
            ready-to-use Dōgus, e.g. SCM-Manager, Jenkins, Nexus, SonarQube, Redmine and many more.</p>
          Every Dōgu can be tailored to your specific needs. You can even bring along your own Dōgus! Take advantage of a central authentication
          service, a dynamic navigation, that lets you easily switch between the web UIs and a smart configuration magic,
          which automatically detects and responds to dependencies between Dōgus. Cloudogu is open source and it runs either
          on-premise or in the cloud. So, what are you waiting for?
        </article>
      </div>

    </div>

    <div class="col-md-offset-1 col-md-5">
      <div class="bs-component text-center">
        <h4>
          <p>We are Cloudogu</p>______________________</h4>
        <br>




        <ngb-carousel>
          <div *ngFor="let counter of numbers">
            <ng-template ngbSlide>
              <div class="col-xs-1 "></div>
              <div class="col-xs-10 same-height-as-width">
                <div class="content padding-carousel">
                  <div class='modTeamMember style-2 col-xs-4 padding-0' *ngFor="let member of membersArray[counter]">
                    <div class='member'>
                      <img class="img-circle members avatar" alt="{{member.name}}" src="{{member.imagesource}}" />
                      <div class='overlay'>
                        <ul class='socials'>
                          <li *ngIf="member.github"><a href="{{member.github}}" target="_blank"><i class='fa fa-github'></i></a></li>
                          <li *ngIf="member.xing"><a href="{{member.xing}}" target="_blank"><i class='fa fa-xing'></i></a></li>
                          <li *ngIf="member.twitter"><a href="{{member.twitter}}" target="_blank"> <i class='fa fa-twitter'></i></a></li>
                          <li *ngIf="member.linkedin"><a href="{{member.linkedin}}" target="_blank"> <i class='fa fa-linkedin'></i></a></li>
                          <li *ngIf="member.email"><a href="{{member.email}}" target="_blank"> <i class='fa fa-envelope'></i></a></li>
                          <li *ngIf="member.stackoverflow"><a href="{{member.stackoverflow}}" target="_blank"><i class='fa fa-stack-overflow'></i></a></li>
                          <li *ngIf="member.bitbucket"><a href="{{member.bitbucket}}" target="_blank"><i class='fa fa-bitbucket'></i></a></li>
                          <li *ngIf="member.blog"><a href="{{member.blog}}" target="_blank"><i class='fa fa-comment'></i></a></li>
                          <li *ngIf="member.sonstiges"><a href="{{member.sonstiges}}" target="_blank"><i class='fa fa-globe'></i></a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-1"></div>
            </ng-template>
          </div>
        </ngb-carousel>

      </div>
    </div>
  </div>
</div>

<div class="bs-component text-center">
  <h3 class="text-muted">The most amazing development platform we've ever built</h3>
</div>
