<div class="bs-component text-center">


  <br>
  <br>
  <br>
  <img alt="" src="./assets/logo/blib-blue-160px.png">
  <br>
  <br>
  <h1 class="heading text-muted">about cloudogu</h1>

</div>
<br>
<br>
<br>



<div class="bs-docs-section container">
  <div class="row">
    <div class="col-md-6">
      <div class="bs-component text-center" align="justify">
        <h4>
          <p>Mission Statement</p>
          ______________________</h4>
        <br>
        <br>
        <p>At Cloudogu we are passionate software craftsmen. We are driven by quality, efficiency and fun. We build our software
          by utilizing TDD, Clean Code, CI/CD and containerization in an agile and collaborative environment. We believe
          in the power and freedom of the open source community and pledge to make our contribution. We encourage businesses
          to use open source development tools and provide enterprise level security, operations and support for them.
          <br>Our mission is to provide a best of breed environment - both for the community and the enterprise.</p>
        This is why we created the Cloudogu EcoSystem – an open platform that lets the community thrive and businesses grow.
    </div>

  </div>

  <div class="col-md-offset-1 col-md-5">
    <div class="bs-component text-center">
      <h4>
        <p>We are Cloudogu</p>______________________</h4>
      <br>

      <ngb-carousel>
        <div *ngFor="let slide of slidesAmount">
          <ng-template ngbSlide>
            <div class="col-xs-1 "></div>
            <div class="col-xs-10 same-height-as-width">
              <div class="content padding-carousel">
                <div class='modTeamMember style-2 col-xs-4 padding-0' *ngFor="let member of membersArrayForCarousel[slide]">
                  <div class='member'>
                    <img class="img-circle members avatar" alt="{{member.name}}" src="{{member.imagesource}}" />
                    <div class='overlay'>
                      <ul class='socials'>
                        <small *ngFor="let icon of iconAmount">
                            <li *ngIf="member.links[icon]">

                              <a *ngIf="member.links[icon].name!='email'" href="{{member.links[icon].link}}" target="_blank">
                                <i class='fa fa-{{member.links[icon].name}}'></i>
                              </a>
                              <a *ngIf="member.links[icon].name=='email'" href="mailto:{{member.links[icon].link}}">
                                  <i class='fa fa-{{member.links[icon].name}}'></i>
                                </a>

                            </li>
                          </small>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-1"></div>
          </ng-template>
        </div>
      </ngb-carousel>

    </div>
  </div>
</div>
</div>

<div class="bs-component text-center">
  <h3 class="text-muted">The most amazing development platform we've ever built</h3>
</div>
