<br>
<br>
<br>
<div class="bs-component text-center">
  <img alt="" src="./assets/logo/blib-blue-160px.png">
  <h1 class="heading text-muted">Imprint</h1>
</div>
<br>
<br>
<br>

<div class="bs-docs-section container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <address>
        Cloudogu GmbH<br> Brabandtstraße 9–10<br> 38100 Braunschweig<br> Germany
        <br> Telefon: +49 531 23528-0<br> Telefax: +49 531 23528-19<br> Managing Directors (with authorised representation):<br>        Dipl.-Wirt.-Ing. (FH) Tino Friedrich<br> Dipl.-Inf. Thomas Grosser<br> Dipl.-Ing. (FH) Thomas Paliga<br>
      </address>

      <p>
        Register Court: Braunschweig District Court<br> Registry number: HRB 204974
      </p>

      <p>
        Responsible for contents pursuant to §10, para. 3, MDStV (German Media Services Act):<br> Dipl.-Inf. Thomas Grosser
        (address as above)
      </p>

      <p>
        Notice of liability<br> Despite careful control of contents we are not able to accept any liability for the contents
        of external links. The corresponding operators are solely responsible for the contents of linked pages.
      </p><br><p> Image sources:</p>
      #98133493: ©NextMars – fotolia.com

    </div>
  </div>
</div>