<br>
<br>
<br>
<div class="bs-component text-center">
  <img alt="" src="./assets/logo/blib-blue-160px.png">
  <br>
  <br>
  <h1  class="heading text-muted">Licenses</h1>
</div>
<br>
<br>
<div #jump style="padding-top: 4px;"></div>
<div class="bs-docs-section container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8" align="justify">
        <ngb-accordion [closeOthers]="true">

          <ngb-panel *ngFor="let license of licenses">

            <ng-template ngbPanelTitle>
              <div class="accpanel panel-default">
                <div class="panel-heading" (click)="scroll(jump)">               
                  {{license.name}}
                </div>
              </div>
            </ng-template>

            <ng-template ngbPanelContent>
              <div class="panel-default panel-body" align="justify">
                <span [innerHTML]="license.description"></span>
              </div>
            </ng-template>

          </ngb-panel>

        </ngb-accordion>
    </div>
  </div>
</div>
<br>