<br>
<br>
<br>
<div class="bs-component text-center">
  <img alt="" src="./assets/logo/blib-blue-160px.png">
  <h1 class="heading text-muted">Licenses</h1>
</div>
<br>
<br>
<br>



<div class="bs-docs-section container">
  <ngb-accordion [closeOthers]="true">
    <ngb-panel *ngFor="let license of licenses">

      <ng-template ngbPanelTitle>
        <div class="accpanel panel-default">
          <div class="panel-heading">
            {{license.name}}
          </div>
        </div>
      </ng-template>

      <ng-template ngbPanelContent>
        <div class="panel-default panel-body">
          <span [innerHTML]="license.description"></span>
        </div>
      </ng-template>

    </ngb-panel>

  </ngb-accordion>
  </div>
<br>
