
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(fonts/s-DroidSans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(fonts/DroidSans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body {
  font-family: "Droid Sans", Raleway, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #999;
  padding-top: 60px;
  font-size: 1.6rem;
  overflow-y: scroll;
}

.heading {
  font-family: inherit;
  font-size: 5rem;
  line-height: 5rem;
  top: 35%;
  position: relative;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

.accpanel {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

a:hover, a:focus {
  text-decoration: none;
}

.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border: 2px solid #23A3DD;
  padding: 1rem;
  background-color: #23a3dd;
  transition: background-color 300ms ease-out;

	&:hover {
	  background-color: #1e7caa;
	  border-color: #1e7caa;
	}

}
